@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #d44fac;
}
nav a {
  color: rgb(3, 3, 3);
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  
  
  }
   
nav a:hover {
  text-decoration: underline;
}   

h1 {
  text-align: center;
  margin-top: 2rem;
}

/* Para el título "Hamburguesa" y "Comidas" */
h1 {
    text-align: center;
    font-size: 3rem; /* Tamaño grande para destacar */
    letter-spacing: -1px; /* Hace que se vea más moderno */
}

