body > p:first-of-type {
  color: red;
}

body > p:nth-of-type(2) {
  color: blue;
}

div > p:not(.especial) {
  color: green;
}

div > p.especial {
  color: purple;
  font-weight: bold;
}

div section p {
  color: orange;
  font-style: italic;
}


a:hover {
    color: blueviolet;
}